In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)
pd.set_option("max_rows", None)

In [2]:
df = pd.read_csv('fy2020_Dallas_Animal_Shelter_Data.csv')

In [3]:
df.head()

,Animal Id,Animal Type,Animal Breed,Kennel Number,Kennel Status,Tag Type,Activity Number,Activity Sequence,Source Id,Census Tract,Council District,Intake Type,Intake Subtype,Intake Total,Reason,Staff Id,Intake Date,Intake Time,Due Out,Intake Condition,Hold Request,Outcome Type,Outcome Subtype,Outcome Date,Outcome Time,Receipt Number,Impound Number,Service Request Number,Outcome Condition,Chip Status,Animal Origin,Additional Information,Month,Year
0,A0144701,DOG,HAVANESE,VT 12,IMPOUNDED,NaN,NaN,1,P0098773,006301,4,OWNER SURRENDER,GENERAL,1,PERSNLISSU,CDM,11/08/2019,15:48:00,11/14/2019,APP SICK,NaN,RETURNED TO OWNER,WALK IN,11/09/2019,11:31:00,R19-558731,K19-486742,NaN,APP SICK,SCAN CHIP,OVER THE COUNTER,RETURNED TO OWNER,NOV.2019,FY2020
1,A0442587,DOG,TERRIER MIX,FREEZER,IMPOUNDED,NaN,NaN,1,P0492284,007102,2,OWNER SURRENDER,DEAD ON ARRIVAL,1,OTHRINTAKS,CDM,11/10/2019,14:18:00,11/10/2019,DEAD,NaN,DEAD ON ARRIVAL,DISPOSAL,11/10/2019,00:00:00,NaN,K19-486954,NaN,DEAD,SCAN CHIP,OVER THE COUNTER,NaN,NOV.2019,FY2020
2,A0458972,DOG,CATAHOULA,RECEIVING,UNAVAILABLE,NaN,A19-195601,1,P9991718,004600,1,STRAY,AT LARGE,1,OTHER,MG1718,10/03/2019,11:08:00,10/03/2019,TREATABLE REHABILITABLE NON-CONTAGIOUS,NaN,RETURNED TO OWNER,FIELD,10/03/2019,13:36:00,NaN,K19-482022,NaN,TREATABLE REHABILITABLE NON-CONTAGIOUS,SCAN NO CHIP,SWEEP,NaN,OCT.2019,FY2020
3,A0525642,DOG,GERM SHEPHERD,INJD 001,IMPOUNDED,NaN,A19-196573,1,P0903792,016605,8,OWNER SURRENDER,GENERAL,1,OTHER,RA 1549,10/11/2019,09:55:00,10/17/2019,TREATABLE REHABILITABLE NON-CONTAGIOUS,EMERGENCY RESCUE,TRANSFER,MEDICAL-CONTAGIOUS,10/15/2019,17:35:00,NaN,K19-483073,NaN,TREATABLE REHABILITABLE NON-CONTAGIOUS,SCAN CHIP,SWEEP,TAGGED,OCT.2019,FY2020
4,A0565586,DOG,SILKY TERRIER,LFD 119,UNAVAILABLE,NaN,NaN,1,P0890077,006900,1,STRAY,AT LARGE,1,OTHRINTAKS,JR,11/08/2019,11:55:00,11/14/2019,APP WNL,RESCU ONLY,RETURNED TO OWNER,WALK IN,11/09/2019,12:57:00,R19-558750,K19-486694,NaN,APP WNL,SCAN CHIP,OVER THE COUNTER,RETURNED TO OWNER,NOV.2019,FY2020

## Data Cleaning

In [4]:
df.columns = map(str.lower, df.columns)

In [5]:
df.columns = df.columns.str.replace(' ', '_')

In [6]:
df = df.drop(['tag_type', 'activity_number', 'activity_sequence', 'source_id', 'census_tract', 
              'intake_total', 'receipt_number', 'impound_number', 'service_request_number', 
              'additional_information', 'council_district', 'hold_request', 'intake_time',
              'outcome_time'], axis=1)

In [7]:
# for the reason column, we want to combine both Other values and turn the NANS into Unknown
df.reason = df.reason.apply(lambda x: x if (x == 'PERSNLISSU' or
                                            x == 'MEDICAL' or 
                                            x == 'HOUSING' or
                                            x == 'NOTRIGHTFT' or
                                            x == 'FINANCIAL' or
                                            x == 'OTHRINTAKS' or 
                                            x == 'OTHER')
                            else 'UNKNOWN')

In [8]:
df.outcome_condition = df.outcome_condition.fillna('UNKNOWN')

In [9]:
df.chip_status = df.chip_status.fillna('UNKNOWN')

In [10]:
df.animal_origin = df.animal_origin.fillna('UNKNOWN')

In [11]:
df.dropna(subset = ['outcome_date'], inplace=True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31695 entries, 0 to 31917
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   animal_id          31695 non-null  object
 1   animal_type        31695 non-null  object
 2   animal_breed       31695 non-null  object
 3   kennel_number      31695 non-null  object
 4   kennel_status      31695 non-null  object
 5   intake_type        31695 non-null  object
 6   intake_subtype     31695 non-null  object
 7   reason             31695 non-null  object
 8   staff_id           31695 non-null  object
 9   intake_date        31695 non-null  object
 10  due_out            31695 non-null  object
 11  intake_condition   31695 non-null  object
 12  outcome_type       31695 non-null  object
 13  outcome_subtype    31695 non-null  object
 14  outcome_date       31695 non-null  object
 15  outcome_condition  31695 non-null  object
 16  chip_status        31695 non-null  object
 17  animal_origin      31695 non-null  object
 18  month              31695 non-null  object
 19  year               31695 non-null  object
dtypes: object(20)
memory usage: 5.1+ MB

## EDA

In [15]:
df.kennel_status.value_counts()

UNAVAILABLE                 17239
IMPOUNDED                    8931
AVAILABLE                    3739
LAB                           953
RELEASED FROM QUARANTINE      366
EU RISK                       210
PENDING                       142
WILDLIFE                       97
PRE-LAB                        14
LIVESTOCK                       3
EVALUATION                      1
Name: kennel_status, dtype: int64

In [16]:
df.animal_breed.value_counts()

DOMESTIC SH        7202
PIT BULL           5507
GERM SHEPHERD      2990
LABRADOR RETR      2611
CHIHUAHUA SH       2291
DOMESTIC MH         603
ALASKAN HUSKY       533
CAIRN TERRIER       466
ROTTWEILER          423
OPOSSUM             394
AUST CATTLE DOG     370
SIBERIAN HUSKY      357
BOXER               344
SHIH TZU            332
GREAT PYRENEES      267
AM PIT BULL TER     263
CHIHUAHUA LH        252
RACCOON             232
YORKSHIRE TERR      230
MALTESE             223
BORDER COLLIE       208
POODLE MIN          186
SCHNAUZER MIN       179
DACHSHUND           178
DOBERMAN PINSCH     177
AUST SHEPHERD       173
AMER BULLDOG        155
BEAGLE              154
AMERICAN STAFF      143
DOMESTIC LH         129
POMERANIAN          123
CATAHOULA           119
STAFFORDSHIRE       119
RAT TERRIER         118
CHOW CHOW           109
GOLDEN RETR         107
SIAMESE              97
PARSON RUSS TER      90
RABBIT SH            84
PUG                  83
AMER SH              80
BULL TERRIER         80
POINTER              75
BELG MALINOIS        71
MIN PINSCHER         70
BASSET HOUND         68
GREAT DANE           68
AKITA                67
BLACK MOUTH CUR      67
SQUIRREL             65
MASTIFF              63
BULLDOG              59
ENG BULLDOG          56
COLLIE SMOOTH        52
BOSTON TERRIER       50
COCKER SPAN          50
HAMSTER              50
CHINESE SHARPEI      49
CANE CORSO           47
LHASA APSO           46
ST BERNARD SMTH      46
ANATOL SHEPHERD      44
CHICKEN              43
GUINEA PIG           42
COLD WATER           40
DUCK                 40
OTHER BIRD           40
BAT                  40
SCHNAUZER STAND      39
BORDER TERRIER       35
WELSH CORGI CAR      34
PLOTT HOUND          34
RHOD RIDGEBACK       32
POODLE STND          31
HAWK                 30
POODLE TOY           30
SHIBA INU            30
BICHON FRISE         29
DALMATIAN            28
COLLIE ROUGH         28
TOY FOX TERRIER      26
FRENCH BULLDOG       26
PIGEON               26
PAPILLON             23
DOVE                 22
GERM SH POINT        22
WELSH CORGI PEM      22
FOX TERR SMOOTH      21
PEKINGESE            21
ST BERNARD RGH       21
MAINE COON           21
WEIMARANER           19
FOX TERR WIRE        18
BASENJI              18
DACHSHUND LH         18
OWL                  17
SKUNK                16
WEST HIGHLAND        16
JACK RUSS TERR       16
RUSSIAN BLUE         15
QUEENSLAND HEEL      15
BULLMASTIFF          14
CROW                 13
ALASK MALAMUTE       13
NORFOLK TERRIER      13
BLUEBIRD             12
MANX                 12
TR WALKER HOUND      12
BRITTANY             12
SNAKE                12
AIREDALE TERR        12
WH PT GRIFFON        11
WELSH TERRIER        11
SILKY TERRIER        11
AMER FOXHOUND        11
HAVANESE             11
GREYHOUND            10
SCOT TERRIER         10
SHETLD SHEEPDOG      10
BLUETICK HOUND       10
JINDO                 9
TURTLE                9
BRUSS GRIFFON         9
REDBONE HOUND         9
CAVALIER SPAN         9
DOGO ARGENTINO        9
AMER ESKIMO           9
BLACK/TAN HOUND       8
DACHSHUND WH          8
AUST TERRIER          8
TENN TR BRINDLE       8
FERRET                8
BERNESE MTN DOG       8
AUST KELPIE           8
TIBETAN TERR          8
ENG POINTER           7
BLUE LACY             7
LIZARD                7
RAGDOLL               7
HARRIER               7
BLACKBIRD             7
OLD ENG BULLDOG       7
AFFENPINSCHER         6
IRISH TERRIER         6
DOGUE DE BORDX        6
BLOODHOUND            6
WHIPPET               6
EQUINE                5
FOWL                  5
ENG FOXHOUND          5
SHEPHERD              5
PARAKEET              5
BULL TERR MIN         5
MANCHESTER TERR       5
GOAT                  5
OLDENG SHEEPDOG       5
PIG                   4
SAMOYED               4
ENG SHEPHERD          4
ENG SETTER            4
TURKISH VAN           4
FOX                   4
FINNISH SPITZ         4
ITAL GREYHOUND        4
PITBULL               4
BEARDED COLLIE        4
MOCKINGBIRD           4
SC WHEAT TERR         4
RAT                   4
GR SWISS MTN          4
RABBIT                4
JAY                   4
DUTCH SHEPHERD        4
NEWFOUNDLAND          4
BOBCAT                3
ENG SPRNGR SPAN       3
ENTLEBUCHER           3
ENG COONHOUND         3
EXOTIC SH             3
VIZSLA                3
CAROLINA DOG          3
GERM WH POINT         3
BIRD                  3
CHINESE CRESTED       3
PATTERDALE TERR       3
MEX HAIRLESS          3
CANAAN DOG            3
AMER CURL SH          3
PARROT                3
TIBETAN MASTIFF       2
WATER FOWL            2
DEER                  2
SAVANNAH              2
SONG BIRD             2
IRISH SETTER          2
TORTOISE              2
BELG TERVUREN         2
POODLE MIX            2
JAPANESE CHIN         2
IBIZAN HOUND          2
NORWICH TERRIER       2
ALASK KLEE KAI        2
ABYSSINIAN            2
IRISH WOLFHOUND       2
COLORPOINT            2
RAVEN                 2
GERMAN PINSCHER       2
ENG COCKER SPAN       2
IBIS                  2
CANARY                2
BENGAL                2
SCHNAUZER GIANT       2
BRITISH SH            2
PICARDY SHEEPDG       2
GOOSE                 2
PHARAOH HOUND         2
LAKELAND TERR         2
PODENGO PEQUENO       2
FLAT COAT RETR        2
REPTILE               2
CHARTREUX             2
CHESA BAY RETR        2
AFGHAN HOUND          1
COYOTE                1
POTBELLY PIG          1
TERRIER MIX           1
DANDIE DINMONT        1
RETRIEVER MIX         1
NORWGN FOREST         1
GOAT/SHEEP            1
OTTERHOUND            1
BRIARD                1
AMER WATER SPAN       1
RODENT                1
BEAGLE MIX            1
PORT WATER DOG        1
SNOWSHOE              1
WOLF HYBRID           1
GULL                  1
CURLYCOAT RETR        1
NS DUCK TOLLING       1
RHEA                  1
EURASIER              1
COTON DE TULEAR       1
SHEEP                 1
RABBIT LH             1
SCOTTISH FOLD         1
LEONBERGER            1
SKYE TERRIER          1
SWALLOW               1
SPAN WATER DOG        1
QUAIL                 1
DUTCH SHEEPDOG        1
AMER WIREHAIR         1
SWINE                 1
BURMESE               1
HIMALAYAN             1
BERNESE HOUND         1
TURKISH ANGORA        1
WELSH SPR SPAN        1
DOMESTIC              1
MOUSE                 1
BELG SHEEPDOG         1
MIXED                 1
KUVASZ                1
TREEING CUR           1
FALCON                1
SEALYHAM TERR         1
KORAT                 1
BEDLINGTON TERR       1
PERSIAN               1
GAMEFOWL              1
ARMADILLO             1
NEAPOLITAN MAST       1
REX-MINI              1
Name: animal_breed, dtype: int64

https://askwonder.com/research/provide-list-kpis-animal-services-departments-within-municipalities-9yyy09551

2. Percentage of animals adopted or returned to owner (higher is better—fewer animals euthanized or died)
3. Percentage of animals not euthanized (lower is better) 
4. Live release rate (higher is better) 
11. Percentage increase in number of dogs microchipped 
12. Percentage increase in number of dogs and cats returned to owners YOY
28. Number of impounds YOY
29. Live/Save rate (the number of live releases divided by the number of live impounds)
31. Number of spay/neuter services performed
32. Number of animals euthanized 
33. Number of animals adopted 
34. Number of animals redeemed by owner
35. Number of animals died in shelter 
39. Number of transfers/fosters 
40. Euthanasia rates YOY
41. Adoption rates YOY
43. Return to owner rates YOY

In [15]:
df.head()

,animal_id,animal_type,animal_breed,kennel_number,kennel_status,intake_type,intake_subtype,reason,staff_id,intake_date,due_out,intake_condition,outcome_type,outcome_subtype,outcome_date,outcome_condition,chip_status,animal_origin,month,year
0,A0144701,DOG,HAVANESE,VT 12,IMPOUNDED,OWNER SURRENDER,GENERAL,PERSNLISSU,CDM,11/08/2019,11/14/2019,APP SICK,RETURNED TO OWNER,WALK IN,11/09/2019,APP SICK,SCAN CHIP,OVER THE COUNTER,NOV.2019,FY2020
1,A0442587,DOG,TERRIER MIX,FREEZER,IMPOUNDED,OWNER SURRENDER,DEAD ON ARRIVAL,OTHRINTAKS,CDM,11/10/2019,11/10/2019,DEAD,DEAD ON ARRIVAL,DISPOSAL,11/10/2019,DEAD,SCAN CHIP,OVER THE COUNTER,NOV.2019,FY2020
2,A0458972,DOG,CATAHOULA,RECEIVING,UNAVAILABLE,STRAY,AT LARGE,OTHER,MG1718,10/03/2019,10/03/2019,TREATABLE REHABILITABLE NON-CONTAGIOUS,RETURNED TO OWNER,FIELD,10/03/2019,TREATABLE REHABILITABLE NON-CONTAGIOUS,SCAN NO CHIP,SWEEP,OCT.2019,FY2020
3,A0525642,DOG,GERM SHEPHERD,INJD 001,IMPOUNDED,OWNER SURRENDER,GENERAL,OTHER,RA 1549,10/11/2019,10/17/2019,TREATABLE REHABILITABLE NON-CONTAGIOUS,TRANSFER,MEDICAL-CONTAGIOUS,10/15/2019,TREATABLE REHABILITABLE NON-CONTAGIOUS,SCAN CHIP,SWEEP,OCT.2019,FY2020
4,A0565586,DOG,SILKY TERRIER,LFD 119,UNAVAILABLE,STRAY,AT LARGE,OTHRINTAKS,JR,11/08/2019,11/14/2019,APP WNL,RETURNED TO OWNER,WALK IN,11/09/2019,APP WNL,SCAN CHIP,OVER THE COUNTER,NOV.2019,FY2020

In [17]:
df.month.value_counts()

OCT.2019    3996
JAN.2020    3659
NOV.2019    3526
DEC.2019    3367
FEB.2020    3127
MAR.2020    2731
JUN.2020    2127
MAY.2020    2039
JUL.2020    2007
AUG.2020    1796
APR.2020    1691
SEP.2020    1629
Name: month, dtype: int64